{% extends 'base.html.twig' %}


{% block title %}Le Club{% endblock %}

{% block body %}
    <section class="container">
        <div class="m-10 p-10">
            <h2 class="text-4xl">Horaires</h2>
            <div class="text-center">
                <input type="radio" id="contactChoice1"
                       name="contact" value="all">
                <label class="ml-2 mr-5" for="contactChoice1">Tous les horaires</label>

                <input type="radio" id="contactChoice2"
                       name="contact" value="mercredi">
                <label class="ml-2 mr-5" for="contactChoice2">Mercredi</label>

                <input type="radio" id="contactChoice3"
                       name="contact" value="vendredi">
                <label class="ml-2 mr-5" for="contactChoice3">Vendredi</label>

                <input type="radio" id="contactChoice4"
                       name="contact" value="samedi">
                <label class="ml-2 mr-5" for="contactChoice4">Samedi</label>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="m-10 p-10">
            <div class="overflow-x-auto shadow-md rounded-lg m-auto w-1/2 mt-5">
                <table class="w-full">
                    <thead>
                    <tr class="bg-[#d43a33] text-white">
                        <th colspan="5">Tarifs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border px-4 py-2">Cotisation Annuelle</td>
                        <td class="text-center border px-4 py-2">Baby Judo</td>
                        <td class="text-center border px-4 py-2">PPG</td>
                        <td class="text-center border px-4 py-2">Judo et Jujitsu</td>
                        <td class="text-center border px-4 py-2">Jujitsu</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Nouveaux licencié</td>
                        <td class="text-center border px-4 py-2">70 €</td>
                        <td class="text-center border px-4 py-2">100 €</td>
                        <td class="text-center border px-4 py-2">150 €<br>95 € <br>Si enfants nés après 2015-2016</td>
                        <td class="text-center border px-4 py-2">100 €</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Déjà licencié</td>
                        <td class="text-center border px-4 py-2" colspan="4">40 € (Prix de la licence FFJDA)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="m-10 p-10">
            <h2 class="text-4xl">Les membres du bureau</h2>
            <div class="grid grid-cols-4 gap-5 text-center m-10">
                {% for teacher in teachers %}
                    <div>
                        {% if teacher.avatar is not null %}
                            <img class=" max-h-full" src="{{ asset('uploads/media/users/content/' ~teacher.avatar) }}"
                                 alt="teacher-{{ teacher.firstname }}">
                        {% else %}
                            <img class="max-h-full" src="{{ asset('images/default-avatar.png') }}"
                                 alt="teacher-{{ teacher.firstname }}">
                        {% endif %}
                        <h5>{{ teacher.lastname }} {{ teacher.firstname }}</h5>
                        <p class="text-gray-500">{{ teacher.about }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="sponsor">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                         alt=""/>
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                         alt=""/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}