{% extends 'base.html.twig' %}


{% block title %}Le Club{% endblock %}

{% block body %}
    <section class="relative h-[350px] bg-blend-darken text-white"
             style="background: rgba(0,0,0,0.9) url('{{ asset('images/header-2.jpg') }}') no-repeat center; background-size: cover">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1>Le Club</h1>
            <ul class="flex justify-center">
                <li class="text-gray-300"><a class="after:content-['/'] after:mx-3" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>Le Club</li>
            </ul>
        </div>
    </section>

    <section class="container">
        <h2 class="text-4xl">Horaires</h2>
        <div class="overflow-x-auto shadow-md rounded-lg">
            <table class="w-full">
                <thead>
                <tr class="bg-[#d43a33] text-white text-center">
                    <td colspan="2">Horaires du Mercredi</td>
                    <td colspan="2">Horaires du Vendredi</td>
                    <td colspan="2">Horaires du Samedi</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center border px-4 py-2">14h00<br>-<br>15h00</td>
                    <td class="text-center border px-4 py-2">Baby Judo<br>Né(es) en 2017 et 2018</td>
                    <td class="text-center border px-4 py-2">17h30<br>-<br>19h30</td>
                    <td class="text-center border px-4 py-2">Préparation Physique<br>Générale (Adultes)</td>
                    <td class="text-center border px-4 py-2">14h00<br>-<br>15h00</td>
                    <td class="text-center border px-4 py-2">Judo 1er Groupe<br>Né(es) en 2015 et 2016</td>
                </tr>
                <tr>
                    <td class="text-center border px-4 py-2">15h00<br>-<br>16h00</td>
                    <td class="text-center border px-4 py-2">Judo 1er Groupe<br>Né(es) en 2015 et 2016</td>
                    <td class="text-center border px-4 py-2">19h30<br>-<br>20h30</td>
                    <td class="text-center border px-4 py-2">Judo / Ju-Jitsu<br>3ème Groupe</td>
                    <td class="text-center border px-4 py-2">15h00<br>-<br>16h00</td>
                    <td class="text-center border px-4 py-2">Ju-Jitsu enfants<br>Né(es) en 2011 et 2014</td>
                </tr>
                <tr>
                    <td class="text-center border px-4 py-2">16h00<br>-<br>17h15</td>
                    <td class="text-center border px-4 py-2">Judo 2ème Groupe<br>Né(es) en 2011 et 2014</td>
                    <td class="text-center border px-4 py-2">20h30<br>-<br>21h30</td>
                    <td class="text-center border px-4 py-2">PPG Compétiteurs<br>3ème Groupe</td>
                    <td class="text-center border px-4 py-2">16h00<br>-<br>17h00</td>
                    <td class="text-center border px-4 py-2">Judo 2ème Groupe<br>Né(es) en 2011 et 2014</td>
                </tr>
                <tr>
                    <td class="text-center border px-4 py-2">17h15<br>-<br>18h30</td>
                    <td class="text-center border px-4 py-2">Judo -18 ans<br>Né(es) en 2005 et après</td>
                    <td></td>
                    <td></td>
                    <td class="text-center border px-4 py-2">17h00<br>-<br>18h30</td>
                    <td class="text-center border px-4 py-2">Judo 3ème Groupe<br>Né(es) en 2010 et avant</td>
                </tr>
                <tr>
                    <td class="text-center border px-4 py-2">18h30<br>-<br>20h00</td>
                    <td class="text-center border px-4 py-2">Judo 3ème Groupe<br>Né(es) en 2009 et avant</td>
                </tr>
                <tr>
                    <td class="text-center border px-4 py-2">20h00<br>-<br>21h30</td>
                    <td class="text-center border px-4 py-2">Ju-Jitsu / Self défense<br>Tous Niveaux dès 12 ans</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="container">
        <h2 class="text-4xl">Tarifs</h2>
        <div class="overflow-x-auto shadow-md rounded-lg">
            <table class="w-full">
                <thead>
                <tr class="bg-[#d43a33] text-white">
                    <th colspan="5">Tarifs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border px-4 py-2">Cotisation Anuelle</td>
                    <td class="text-center border px-4 py-2">Baby Judo</td>
                    <td class="text-center border px-4 py-2">PPG</td>
                    <td class="text-center border px-4 py-2">Judo et Jujitsu</td>
                    <td class="text-center border px-4 py-2">Jujitsu</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">Nouveaux licencié</td>
                    <td class="text-center border px-4 py-2">70 €</td>
                    <td class="text-center border px-4 py-2">100 €</td>
                    <td class="text-center border px-4 py-2">150 €<br>95 € <br>Si enfants nés après 2015-2016</td>
                    <td class="text-center border px-4 py-2">100 €</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">Déjà licencié</td>
                    <td class="text-center border px-4 py-2" colspan="4">40 € (Prix de la licence FFJDA)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="container">
        <h2 class="text-4xl">Les membres du bureau</h2>
        <div class="grid grid-cols-4 max-lg:grid-cols-2 gap-5 text-center">
            {% for teacher in teachers %}
                <div>
                    {% if teacher.avatar is not null %}
                        <img class="rounded-full object-cover h-52 w-52 mx-auto"
                             src="{{ asset('uploads/media/users/content/' ~teacher.avatar) }}"
                             alt="teacher-{{ teacher.firstname }}">
                    {% else %}
                        <img class="rounded-full object-cover h-52 w-52 mx-auto"
                             src="{{ asset('images/default-avatar.png') }}"
                             alt="teacher-{{ teacher.firstname }}">
                    {% endif %}
                    <h5>{{ teacher.lastname }} {{ teacher.firstname }}</h5>
                    <p class="text-gray-500">{{ teacher.roles[0] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container sponsor">
        <div class="slider">
            <div class="slide-track">
               
            </div>
        </div>
    </section>
{% endblock %}