<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Connexion</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-200">
        <div class="bg-white flex rounded-xl shadow-lg max-w-7xl mx-5 max-h-5xl">
            <div class="w-1/2 md:block hidden">
                <img class="rounded-l-lg h-full banner-img" src="{{ asset('images/login-banner.jpg')}}">
            </div>
            <div class="md:w-1/2 text-center text-3xl px-16 mt-8">
                <a href="{{ path('app_home') }}">
                    <img class="m-auto w-24" src="{{ asset('images/logo.png') }}" alt="logo">
                </a>
                <h1 class="font-bold mt-8">Se Connecter</h2>
                    <form action="POST" class="flex flex-col gap-12">
                        {% if error %}
                        <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}

                        {% if app.user %}
                        <div class="bg-indigo-100 rounded-lg py-5 px-6 mb-4 text-base text-indigo-700 mb-3"
                            role="alert">
                            You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                        </div>
                        {% endif %}

                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                            placeholder="Adresse Email" autocomplete="email" class="p-4 mt-8 rounded-lg border" required
                            autofocus />
                        <input type="password" name="password" id="inputPassword" autocomplete="current-password"
                            placeholder="Mot de passe" class="p-4 rounded-lg border" required />
                        <button class="p-4 bg-red-500 rounded-lg text-white custom-button mb-8">Se connecter</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
            </div>

        </div>
    </div>
</body>
</html>
<style>
    .custom-button {
        border: 2px solid white;
    }

    .custom-button:hover {
        border: 2px solid rgb(239 68 68 / var(--tw-bg-opacity));
        ;
        color: rgb(239 68 68 / var(--tw-bg-opacity));
        background-color: white;
    }

    .banner-img{
        height: 80vh;
    }
</style>