{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <section class="relative h-[350px] bg-blend-darken text-white"
             style="background: rgba(0,0,0,0.9) url('{{ asset('images/header-2.jpg') }}') no-repeat center; background-size: cover">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1>Photos</h1>
            <ul class="flex justify-center">
                <li class="text-gray-300"><a class="after:content-['/'] after:mx-3" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>Photos</li>
            </ul>
        </div>
    </section>

    <section class="container">
        <div class="gallery grid grid-cols-4 grid-rows-3 gap-3">
            {% for album in albums %}
                <a class="album-item" href="{{ path('app_show.album', {slug: album.slug}) }}">
                    <img src="{{ asset('uploads/media/albums/content/' ~ album.content.get(0).filename) }}"
                         alt="album-{{ album.title }}">
                    <p>{{ album.title }}</p>
                </a>
            {% endfor %}
        </div>
        {{ knp_pagination_render(albums) }}
    </section>
{% endblock %}
