{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-content">
        <!-- Banner -->
        <section class="banner-area overlay-box">
            <div class="overlay "></div>
            <div class="container">
                <div class="banner-content-area text-white">
                    <h1>Contacter Nous</h1>
                    <div class="breadcrumb-block">
                        <ul class="list-inline">
                            <li><a href="..">Acceuil</a></li>
                            <li>Nous Contacter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner End -->
        <!-- Our Co -->
        <section class="section-style-3 contact-style-1">
            <!-- contact area -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="border-box p-20 text-center">
                            <div class="icon m-b15">
                                <i class="flaticon-placeholder fs-55"></i>
                            </div>
                            <div class="content">
                                <h4>Adresse</h4>
                                <p>Rue Jean Jaurès, 59135 Wallers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="border-box p-20 text-center">
                            <div class="icon m-b15">
                                <i class="flaticon-message fs-55"></i>
                            </div>
                            <div class="content">
                                <h4>Email</h4>
                                <p>no-reply@judo-club-wallers.fr</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="border-box p-20 text-center">
                            <div class="icon m-b15">
                                <i class="flaticon-technology fs-55"></i>
                            </div>
                            <div class="content">
                                <h4>Téléphone</h4>
                                <p>+61 3 8376 6284</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b32">
                        <div class="border-box p-20 text-center">
                            <div class="icon m-b14">
                                <i class="fa-solid fa-hashtag fs-60"></i>
                            </div>
                            <div class="content mt-4 pt-2 pb-1">
                                <h4 class="pt-2 pb-2">Réseaux Sociaux</h4>
                                <div class="mt-1"><a href="https://www.facebook.com/groups/247199275651810"
                                                     class="text-dark mr-3"><i class="fa-brands fa-instagram fs-22"></i></a><a
                                            href="https://www.instagram.com/judo_club_wallers/?hl=fr"
                                            class="text-dark ml-3"><i class="fa-brands fa-facebook fs-22"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-6 d-lg-flex">
                        <div class="p-30 bg-gray clearfix m-b30 ">
                            <h3>Envoyez nous votre message</h3>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form_widget(form.subject) }}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form_widget(form.message) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form_widget(form.files) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- Left part END -->
                    <div class="col-lg-6 d-lg-flex">
                        <!-- Map part start -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10177.907131238375!2d3.3935704!3d50.37631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9985ca123a9e35a!2sJudo%20Ju-Jitsu%20PPG%20Club%20Wallers!5e0!3m2!1sfr!2sfr!4v1672615238406!5m2!1sfr!2sfr"
                                class="align-self-stretch m-b30" style="border:0; width:100%; min-height:350px;"
                                allowfullscreen></iframe>
                        <!-- Map part END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Gallery End -->
    </div>
{% endblock %}
