{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container flex">
        <section class="flex-1 border">
            <img src="{{ asset('uploads/media/articles/content/' ~article.imageFileName) }}"
                 alt="article-{{ article.title }}">
            <div class="p-5">
                <p class="text-gray-500 text-end">{{ article.createdAtToString }}
                    par {{ article.author }}</p>
                <h3 class="font-bold">{{ article.title }}</h3>
                <p>{{ article.content }}</p>
            </div>
        </section>
        <aside class="w-60 ml-5">
            <h3 class="mb-3">Dernières actualités</h3>
            {% for last_article in latest_articles %}
                <a class="flex mb-5" href="{{ path('show.article', {slug: last_article.slug}) }}">
                    <img class="h-28 w-28 object-cover mr-2"
                         src="{{ asset('uploads/media/articles/content/' ~ last_article.imageFileName) }}"
                         alt="article-{{ last_article.title }}">
                    <div>
                        <h6 class="line-clamp-1">{{ last_article.title }} Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Amet
                            dolores inventore ipsam libero nam perspiciatis quia tempora? Aliquam doloremque error
                            facere harum, id ipsa magni nulla optio saepe sunt, veritatis.</h6>
                        <p class="text-gray-500 line-clamp-1">{{ last_article.createdAtToString }}
                            par {{ last_article.author }}</p>
                        <p class="text-gray-500 line-clamp-2">{{ last_article.content }}</p>
                    </div>
                </a>
            {% endfor %}
        </aside>
    </div>
{% endblock %}