{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}

<div class="main-content">
    <section class="section-style">
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 col-md-12 m-b30">
                    <!-- blog start -->
                    <div class="blog-entry grid-post m-b30">
                        <div class="entry-thumb">
                            <img src={{asset('uploads/media/articles/content/' ~ article.getImageFileName())}} alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="clearfix m-b10">
                                <div class="blog-info pull-right">
                                    <span>{{article.getCreatedAtToString}}</span>
                                    Par {{article.getAuthor()}}
                                </div>
                            </div>
                            <div class="blog-title">
                                <h5>{{article.getTitle()}}</h5>
                            </div>

                            <p>{{article.getContent()|raw}}</p>

                        </div>
                    </div>
                    <!-- blog END -->
                </div>
                <!-- Left part END -->
                <!-- Side bar start -->
                <div class="col-md-12 col-lg-3">
                    <aside class="side-bar">
                        <div class="widget m-b30">
                            <h4>Dernières Actualités</h4>
                            <div class="widget-post-bx">
                                {% for latest_article in latest_articles %}
                                <div class="media m-b15">
                                    <a href="{{path('show.article', {'slug': latest_article.getSlug()})}}"><img
                                            src={{asset('uploads/media/articles/content/' ~ latest_article.getImageFileName())}}
                                            class="d-flex mr-3 mw80" alt=""></a>
                                    <div class="media-body">
                                        <h6 class="mt-0 m-b5 title"><a
                                                href="{{path('show.article', {'slug': latest_article.getSlug()})}}">{{latest_article.getTitle()}}</a>
                                        </h6>
                                        <div class="blog-info">
                                            {{latest_article.getCreatedAtToString}}
                                        </div>
                                        <div class="content">
                                            {{latest_article.getContent()|raw}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Side bar END -->
            </div>
        </div>
    </section>
</div>

<style>
    .content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
</style>
{% endblock %}